body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  margin-left: 50px;
  margin-right: 110px;
  margin-top: 20px;
}

.logo_img {
  line-height: 100px;
  vertical-align: middle;
}

#border_radius {
  border: 0.5px;
  border-radius: 3px;
}

.gmail_container {
  color: white;
  display: inline-block;
}

.white_text {
  color: white;
  font-size: 18px;
}

#yellow_circle {
  border-radius: 25px;
  background-color: #FBC056;
  padding: 10px;
}

.mail_box {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 2px;
}

.mail_box_ex {
background-color: white;
border: 1px solid black;
padding: 2px;
}

.grey_text {
  color: grey;
}

strong {
  color: black;
}

.mail_box_ex {
background-color: white;
border: 1px solid black;
}

.grey_text {
  color: grey;
}

strong {
  color: black;
}

footer {
  color: white;
  text-align: center;
}

.text_footer {
  font-style: italic;
  font-size: 12px;
}
