body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  margin-left: 50px;
  margin-right: 110px;
  margin-top: 20px;
}

.gmail_logo_container {
  height: 100px;
  width: auto;
  display: inline-block;
  color: white;
  line-height: 100px;
}

.white_text {
  color: white;
  font-size: 20px;
}

#yellow_circle {
  border-radius: 100%;
  background-color: #FBC056;
  padding: 10px;
}
